.container {
  display: flex;
  gap: 64px;
  padding: 48px 64px;
}

.cardsList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  flex: 1;
}

.loadMoreBtn {
  border: 1px solid #dadde1;
  border-radius: 200px;
  background-color: #ffffff;
  padding: 16px 32px;
  min-height: 56px;
  width: 145px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  outline: none;
  transition: border-color 0.2s ease;
   user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.loadMoreBtn:hover {
  border-color: #6d7b75;
}
