.container {
  width: 100%;
  margin: 0 auto;
  padding: 64px;
  display: flex;
  flex-direction: column;
  gap: 88px;
}

.topSection {
  display: flex;
  gap: 24px;
  width: 100%;
}

.rightTop {
  display: flex;
  flex-direction: column;
}

.bottomSection {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  align-items: flex-start;
}

.reviewTitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
}

.downBlock{
  display: flex;
  gap: 48px;
}

