.hero {
  position: relative; 
  width: 100%;
  min-height: 844px; 
  display: flex;
  align-items: center;
  padding: 72px 48px;
  overflow: hidden;
}

.backgroundImage {
  object-fit: cover;
  object-position: center -75px; 
  z-index: 1;
}

.gradientOverlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
  z-index: 2;
}

.content{
    position: relative;
    z-index: 3;
    margin-top: 195px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-family: var(--font-family);
    font-weight: 600;
    color: #f7f7f7;
}

.title {   
    font-size: 48px;
    line-height: 67%;
}

.description{
    font-size: 24px;
    line-height: 133%;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
}

.ctaButton{
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 200px;
    border: none;
    padding: 16px 60px;
    width: 173px;
    height: 56px;
    background-color: #829B91;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    white-space: nowrap;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: var(--white);
}

.ctaButton:hover, .ctaButton:focus, .ctaButton:active{
    background-color: #6D7B75;
    cursor: pointer;
}