.hero {
  position: relative;
  width: 100%;
  height: calc(100vh);
  min-height: 600px;
  display: flex;
  align-items: flex-start;
  padding: 195px 64px 72px 64px;
  overflow: hidden;
}

.backgroundImage {
  object-fit: cover;
  object-position: center -75px;
  z-index: 1;
}

.gradientOverlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0.2) 100%
  );
  z-index: 2;
}

.container {
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 40px;

}

.content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-weight: 600;
  color: #f7f7f7;
}

.title {
  font-size: 48px;
  line-height: 67%;
}

.description {
  font-size: 24px;
  line-height: 133%;
}


