.galleryContainer {
  display: flex;
  flex-direction: column;
  gap: 27px;
  width: 638px;
  height: 676px;
  flex-shrink: 0;
}

.mainImageWrapper {
  position: relative;
  width: 100%;
  height: 530px;
  border-radius: 17px;
  overflow: hidden;
}

.sideGrid {
  display: flex;
  flex-direction: row;
  gap: 32px;
  width: 100%;
}

.sideImageWrapper {
  position: relative;
  flex: 1;
  height: 120px;
  border-radius: 16px;
  overflow: hidden;
  background-color: transparent;
  border: 2px solid transparent;
  padding: 0;
}

.sideImageWrapper:hover {
  opacity: 0.9;
}

.activeThumb {
  border-color: #829b91;
}

.image {
  object-fit: cover;
}

.noImages {
  width: 100%;
  height: 505px;
  background: #f2f4f7;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #6c717b;
  font-weight: 500;
  font-size: 16px;
}
